JWT_SECRET_KEY= # ADD YOUR OWN SECRET KEY HERE
DATABASE_URL= # ADD YOUR OWN DATABASE URL HERE
EXPIRES_IN = # ADD YOUR OWN EXPIRATION TIME HERE
PORT= # ADD YOUR OWN PORT HERE

# GOOGLE CLIENT
PR_NAME = # ADD YOUR OWN PROJECT NAME HERE
PR_ID = # ADD YOUR OWN PROJECT ID HERE
GOOGLE_CLIENT_ID = # ADD YOUR OWN GOOGLE CLIENT ID HERE
GOOGLE_CLIENT_SECRET = # ADD YOUR OWN GOOGLE CLIENT SECRET HERE

# External Python microservice endpoints (you will deploy those separately)
PY_SUMMARIZER_URL= # ADD YOUR OWN PYTHON SUMMARIZER URL HERE
PY_TOXICITY_URL= # ADD YOUR OWN PYTHON TOXICITY URL HERE
PY_SENTIMENT_URL=# ADD YOUR OWN PYTHON SENTIMENT URL HERE
PY_KEYWORDS_URL=# ADD YOUR OWN PYTHON KEYWORDS URL HERE
PY_CLASSIFY_URL=# ADD YOUR OWN PYTHON CLASSIFY URL HERE
PY_NER_URL=# ADD YOUR OWN PYTHON NER URL HERE

# Optional: OpenAI / HF keys if you plan to call them
NLP_PROVIDER=  # options: python | huggingface | local
NLP_SERVICE_URL= # ADD YOUR OWN NLP SERVICE URL HERE
HUGGINGFACE_API_KEY=# ADD YOUR OWN HUGGINGFACE API KEY HERE
OPENAI_API_KEY=# ADD YOUR OWN OPENAI API KEY HERE

#HF BASE URL and MODELS
HF_BASE_URL = # ADD YOUR OWN HF BASE URL HERE
HF_SUMMARIZER_MODEL = # ADD YOUR OWN HF SUMMARIZER MODEL HERE
HF_TOXICITY_DETECTION_MODEL1= # ADD YOUR OWN HF TOXICITY DETECTION MODEL 1 HERE
HF_TOXICITY_DETECTION_MODEL2= # ADD YOUR OWN HF TOXICITY DETECTION MODEL 2 HERE
HF_SENTIMENT_ANALYSIS_MODEL = # ADD YOUR OWN HF SENTIMENT ANALYSIS MODEL HERE
HF_KEY_WORD_EXTRACTION_MODEL = # ADD YOUR OWN HF KEY WORD EXTRACTION MODEL HERE
HF_TEXT_CLASSIFICATION_MODEL = # ADD YOUR OWN HF TEXT CLASSIFICATION MODEL HERE
HF_NER_MODEL = # ADD YOUR OWN HF NER MODEL HERE
HF_MINDMAP_GENERATION_MODEL = # ADD YOUR OWN HF MINDMAP GENERATION MODEL HERE
HF_ASR_MODEL=# ADD YOUR OWN HF ASR MODEL HERE
HF_TTS_MODEL=# ADD YOUR OWN HF TTS MODEL HERE

# 🔐 SMTP credentials (Mailtrap, Gmail, SendGrid, etc.)
MAIL_HOST=# ADD YOUR OWN MAIL HOST HERE
MAIL_PORT=# ADD YOUR OWN MAIL PORT HERE
MAIL_USER=# ADD YOUR OWN MAIL USER HERE
MAIL_PASS=# ADD YOUR OWN MAIL PASSWORD HERE
UNSUBSCRIBE_SECRET=# ADD YOUR OWN UNSUBSCRIBE SECRET HERE

#LIVEKIT CONFIGS
LIVEKIT_API_KEY=# ADD YOUR OWN LIVEKIT API KEY HERE
LIVEKIT_API_SECRET=# ADD YOUR OWN LIVEKIT API SECRET HERE
LIVEKIT_URL=# ADD YOUR OWN LIVEKIT URL HERE

#CLOUDINARY CONFIGS
CLOUDINARY_CLOUD_NAME=# ADD YOUR OWN CLOUDINARY CLOUD NAME HERE
CLOUDINARY_API_KEY=# ADD YOUR OWN CLOUDINARY API KEY HERE
CLOUDINARY_API_SECRET=# ADD YOUR OWN CLOUDINARY API SECRET HERE

#CHATBOT CONFIGS
CHATBOT_INTERNAL_SECRET=# ADD YOUR OWN CHATBOT INTERNAL SECRET HERE

# Adaptation
ENABLE_ADAPTATION =# Boolean Value

# 🌐 Frontend base URL for invite links
CLIENT_URL=# ADD YOUR OWN CLIENT URL HERE